<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Post liké">
        <div *ngFor="let feed of feeds; let i = index">
            <mat-card (click)="goTodetail(i)" class="example-card">
               <mat-card-header>
                 <div mat-card-avatar class="example-header-image"></div>
                 <mat-card-title>{{feed.name}}</mat-card-title>
                 <mat-card-subtitle>{{feed.created_at | date }}</mat-card-subtitle>
           
                 <button *ngIf="currentUser.id === feed.user_id" style="position: absolute; right:0"  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                   <mat-icon>more_vert</mat-icon>
                 </button>
                 <mat-menu #menu="matMenu">
                   <button *ngIf="currentUser.id === feed.user_id" color="warn" (click)="deletePost(i); $event.stopPropagation();" mat-menu-item>
                     <span>Supprimer</span>
                   </button>
                 </mat-menu>
               </mat-card-header>
               <mat-card-content>
                 <p class="text-content">{{feed.content}}</p>
                  <div *ngIf="feed.has_file">
                 <div *ngFor="let attachment of ('takerfiles/' + feed.post_id + '/') | getAmazonFiles | async">
                   
                  <img style="width: 100%;"  *ngIf="attachment.typeFile === 'img'" [src]="attachment.url" [alt]="attachment.fullName" width="600" height="400">
                 <div *ngIf="attachment.typeFile === 'video'">
                  <video  style="width: 100%;" controls width="600">
                    <source [src]="attachment.url"  type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
               </mat-card-content>

               <mat-card-actions>
                <button class="liked" (click)="dislikeFeed(i); $event.stopPropagation();" mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                </button>

                <button  mat-icon-button (click)="goTodetail(i); $event.stopPropagation();">
                  <mat-icon>question_answer</mat-icon>
                </button>
              </mat-card-actions>
             </mat-card>    
          </div>
    </mat-tab>
  </mat-tab-group>
